.container {
  position: relative;
  display: inline-block;
  margin-right: 2rem;

  vertical-align: top;
  cursor: zoom-in;
}
.lens {
  position: absolute;

  /* border-radius: 50%; */
}
.result {
  display: inline-block;

  /* border-radius: 50%; */
}
